* {
    padding: 0;
    margin: 0;
}

#main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.logo {
    position: relative;
}

#search-bar {
    background: white;
}

.icons-div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#lucky-btn,
#search-btn {
    background: rgb(244, 244, 244);
    color: black;
}

nav,
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer {
    background: rgb(244, 244, 244);
    margin-top: auto;

}


nav a {
    margin: 0 10px;
}

.form {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

form>.input-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
    border-radius: 30px;
    padding: 0 15px;
}

form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    width: 95%;
    height: 110px;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button-div>* {
    padding: 5px 15px;
    border-radius: 5px;
    border: 0;
    max-height: 40px;
    /* font-size: 16px; */
}


.button-div>*:hover {
    box-shadow: 0 0 2px lightgray !important;
    cursor: pointer;
}

.input-div {
    border: 1px solid rgb(236, 233, 233);
}

.input-div:hover {
    box-shadow: 0 0 5px lightgray;
}

.fa.fa-search,
.fa.fa-camera,
.fa.fa-microphone {
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa.fa-camera,
.fa.fa-microphone {
    color: rgb(0, 115, 255)
}

.fa.fa-search {
    color: lightgray;

}

.input-div>* {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-div>input {
    width: 80%;
    outline: none;
    border: 0;
    font-size: 15px;
}


#main>div {
    width: 100%;
    display: flex;
}

#main>div>* {
    margin: 5px 15px;
}

form {
    width: 90%;
}

a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

@media(max-width:805px) {
    #main>.footer {
        height: 80px;
        position: relative;
    }

    .footer>* {
        /* width: 100%; */
        text-align: center;
        height: max-content;
        position: absolute;
        bottom: 0;
    }

    .footer>:nth-child(2) {
        top: 0;
        left: 40%;
    }

    .footer>:nth-child(3) {
        right: 0;
    }

}

@media(max-width:560px) {
    #main>.footer {
        height: auto;
        position: relative;
        flex-direction: column;
    }

    .footer>* {
        position: relative;
    }

    .footer>:nth-child(2) {
        order: -1;
        left: 0;
    }

}

@media(max-width:390px) {
    .button-div {
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width:350px) {
    #main {
        gap: 10px
    }

    #main>div>* {
        margin: 10px 5px;
    }

    #main>.footer {
        height: auto;
        position: relative;
        flex-direction: column;
    }

    #main>.footer>* {
        margin: 5px 15px;
        gap: 10px;
    }

    .footer>* {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin: 0;
    }

    .footer>:nth-child(2) {
        order: -1;
        left: 0;
    }

    .logo>img {
        width: 100%;
        margin: auto;
    }
}

@media(max-width:300px) {
    nav {
        flex-direction: column;
        margin: auto;
    }

    nav>* {
        display: flex;
        flex-direction: column;
    }

    nav>*>a {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav>*>a:hover {
        background: rgb(244, 244, 244);

    }
}